@page "/employeeoverview"
@inherits EmployeeOverviewBase

<h1 class="page-title">All Employees</h1>

@if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Employee ID</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var employee in Employees)
            {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.EmployeeId</td>

                <td>

                    <a href="@($"employeedetail/{employee.EmployeeId}")" class="btn btn-outline-dark table-btn">
                        <i class="fas fa-info-circle">details</i>
                    </a>               
                    <a href="@($"employeeedit/{employee.EmployeeId}")" class="btn btn-outline-dark table-btn">
                        <i class="fas fa-edit">edit</i>
                    </a>

                </td>

            </tr>
            }
        </tbody>
    </table>
}

<button @onclick="@QuickAddEmployee" class="btn btn-dark table-btn quick-add-btn">Add Employee</button>

<AddEmployeeDialog @ref="AddEmployeeDialog" CloseEventCallback="@AddEmployeeDialog_OnDialogClose"></AddEmployeeDialog>